Abg==2.3.1
asyncio
bard
bs4
dnspython
ffmpeg-python
gtts
httpx==0.25.2
lexica-api
motor
opencv-python
openai==0.28.0
pillow==10.2.0
pyrogram==2.0.106
pymongo
python-dotenv
requests
telegraph
tgcrypto==1.2.2
